*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 15, 15);

}
.container{
    width: 370px;
    height:330px;
    border-radius: 20px;
    box-shadow: rgba(146, 141, 141, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
button{
    width: 70px;
    height: 45px;
    font-size: larger;
    border-radius:10px ;
    border: none;
}
.btns{

    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
.box{
    display: flex;
    justify-content: center;

}
input{
    width: 90%;
    height: 50px;
    text-align: right;
    font-size: larger;
    margin: 5px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: orange;
}

.symbols{
    color: orange;
}

#symbol1{
    background-color: orange;
    color: white;
    border-radius: 70%;
}
